html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./images/husker.JPG');
    background-color: black;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 100%;
}
.outer {
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2 {
    text-align: left;
    color: white;
    background-color: black;
}

h3 {
    text-align: left;
    margin-bottom: 0px;
    color: white;
    background-color: black;
}

.forform {
    background-color: lightslategray;
    color:mintcream;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.conthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#head1 {
    text-align: left;
}
h1 {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 2em;
    color:rgb(222, 44, 12);
    text-align: center;
    background-color: black;
    width:15em;
    border-radius: 45%;
}

#tabdisplay {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.tab {
    border-radius: 5%;
    padding: 5px;
    margin: 15px;
    margin-bottom: -1px;
    background-color: lightslategray;
    color: lightgray;
    border: 2px solid black;
}

.tab:hover {
    background-color: black;
    color: white;
}

.cont {
    /*this is styling for default priority 3 todos*/
    background-color: aquamarine;
}

.headrow {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr .5fr;
    background-color: steelblue;
    color: white;
}
.tododiv {
    
    display: grid;
    /*grid-template-rows: 40px 60px 20px 10px 40px; 
    We apparently just need columns. Reminder that fr are just fractions of available space! */
    grid-template-columns: 1fr 2fr 1fr 1fr .5fr;
    border: 1px solid black;
}

/* .headrow {
        OLD STYLING FOR HEADROW
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkgreen;
    color: orange;
} */

.headdiv {
    
}
.innerdiv {
    
}

.complete {
    background-color: lightskyblue;
}

.butts {
    margin: 0px 200px 0px 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.savebut {
    color: white;
    background-color: rgb(29, 95, 217);
    border: 2px solid rgb(47, 224, 255);
    border-radius: 5px;
}
.savebut:hover {
    background-color: lightblue;
}
.getbut {
    color: white;
    background-color: green;
    border: 2px solid chartreuse;
    border-radius: 5px;
}
.getbut:hover {
    background-color: lightgreen;
}

.delbut {
color: lightcyan;
border: 2px solid orange;
background-color: crimson;
}
.delbut:hover {
    background-color: black;
}

.tabbut {
    color:red;
    background-color: black;
    border: 2px solid red;
}
.tabbut:hover {
    background-color: lightslategray;
}

.formbutt {
    color:white;
    background-color: cornflowerblue;
    border: 1px solid white;
}
.formbutt:hover {
    background-color: blue;
}

.bdiv {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.divbc {
    color: aqua;
    background-color: blue;
}
.divbc:hover {
    color: blue;
    background-color: lightskyblue;
}

.divbd {
    color: white;
    background-color: crimson;
}
.divbd:hover {
    color: darkred;
    background-color: lightcoral;
}

#nav {
    margin-bottom: -20px;
}