html {
    
}
body {
    background-image: url('./images/sunset.JPG');
    /*background-color: burlywood;*/
    display: flex;
    flex-direction: column;
    text-align: center;
}
.outer {
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2 {
    text-align: left;
}

h3 {
    text-align: left;
    margin-bottom: 0px;
}

.forform {
    background-color: darkgray;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.conthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#head1 {
    text-align: left;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: rebeccapurple;
    text-align: left;
}

#tabdisplay {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.tab {
    border-radius: 5%;
    padding: 5px;
    margin: 15px;
    margin-bottom: -1px;
    background-color: lightslategray;
    color: lightgray;
    border: 2px solid black;
}

.tab:hover {
    background-color: black;
    color: white;
}

.cont {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    background-color: aquamarine;
}

.tododiv {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border: 1px solid black;
}

.headrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkgreen;
    color: orange;
}

.headdiv {
    
}
.innerdiv {
    margin: 10px;
}

.complete {
    background-color: lightskyblue;
}

.footerbuts {
    text-align: center;
    background-color: lightsalmon;
    margin: 0px 200px 0px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerbuts {
    margin-bottom: 10px;
}