html {
    
}
body {
    background-image: url('./images/sunset.JPG');
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.outer {
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2 {
    text-align: left;
    color: white;
}

h3 {
    text-align: left;
    margin-bottom: 0px;
    color: white;
}

.forform {
    background-color: lightslategray;
    color:mintcream;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.conthead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#head1 {
    text-align: left;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    color: chartreuse;
    text-align: left;
}

#tabdisplay {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.tab {
    border-radius: 5%;
    padding: 5px;
    margin: 15px;
    margin-bottom: -1px;
    background-color: lightslategray;
    color: lightgray;
    border: 2px solid black;
}

.tab:hover {
    background-color: black;
    color: white;
}

.cont {
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
    background-color: aquamarine;
}

.tododiv {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    border: 1px solid black;
}

.headrow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: darkgreen;
    color: orange;
}

.headdiv {
    
}
.innerdiv {
    
}

.complete {
    background-color: lightskyblue;
}

.butts {
    margin: 0px 200px 0px 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.savebut {
    color: white;
    background-color: rgb(29, 95, 217);
    border: 2px solid rgb(47, 224, 255);
}
.savebut:hover {
    background-color: lightblue;
}
.getbut {
    color: white;
    background-color: green;
    border: 2px solid chartreuse;
}
.getbut:hover {
    background-color: lightgreen;
}

.delbut {
color: lightcyan;
border: 2px solid orange;
background-color: crimson;
}
.delbut:hover {
    background-color: black;
}

.tabbut {
    color:red;
    background-color: black;
    border: 2px solid red;
}
.tabbut:hover {
    background-color: lightslategray;
}

.formbutt {
    color:white;
    background-color: cornflowerblue;
    border: 1px solid white;
}
.formbutt:hover {
    background-color: blue;
}

.bdiv {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.divbc {
    color: aqua;
    background-color: blue;
}
.divbc:hover {
    color: blue;
    background-color: lightskyblue;
}

.divbd {
    color: white;
    background-color: crimson;
}
.divbd:hover {
    color: darkred;
    background-color: lightcoral;
}